# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
translation_task_new/
.venv/
venv/

# Streamlit cache and config
.streamlit/

# VS Code settings
.vscode/

# Environment variables
.env

# Log files
*.log
